@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Job - Claim</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
    @model IEnumerable<MrFixIt.Models.Job>
    @*@using MrFixIt.Models.Job*@

        $(document).ready(function () {
            $('.new-job').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("NewJob")',
                    type: 'POST',
                    dataType: 'json',
                    data: $(this).serialize(),
                    success: function(result) {
                        var resultAddNewJob = 'You\'ve added a ne job to the database!<br>JobId; ' + result.id + '<br>Title: ' + result.title +  '<br>Description: ' + result.description 
                        $('#resultAddJob').html(resultAddNewJob)
                    
                    }            
                });            
            });
        });
    </script>
</head>
<body>
    <h1>See Your Job list</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="AddJob">
            <h2>Add job using Post request</h2>
            <form action="NewJob" class="new-job">
                <label for="title">Title: </label>
                <input type="text" name="title" />
                <label for="description">Description: </label>
                <input type="text" name="description" />
                <button type="submit">Add Job</button>
            </form>
            <div id="resultAddJob"></div>
        </div>

    }

</body>
</html>

